@page "/counter"
@inject HttpClient Http

<PageTitle>Counter</PageTitle>

<h1>Static Web Apps Database Operations</h1>
<blockquote>
    Open the browser developer tools to see the API responses.
</blockquote>
<div>
    <button @onclick="List">List</button>
    <!-- Other buttons omitted for brevity -->
    @if (responseList != null)
    {
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in responseList)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.FirstName @item.LastName</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>

@code {
    List<Patient> responseList;

    async Task List()
    {
        var endpoint = "/data-api/rest/Patient";
        responseList = await Http.GetFromJsonAsync<List<Patient>>(endpoint);
    }

    // Other methods omitted for brevity
    

    public class Patient
    {
        public int Id { get; set; }
        public string FirstName { get; set; }
        public string LastName { get; set; }
        public string PhoneNumber { get; set; }
        public string EmailAddress { get; set; }
        public DateTime DateOfBirth { get; set; }
        public long PersonalId { get; set; }
        public string Gender { get; set; }
        public string SpokenLanguage { get; set; }
        public string StreetAddress { get; set; }
        public string City { get; set; }
        public string StateProvince { get; set; }
        public string PostalCode { get; set; }
        public int DoctorId { get; set; }
    }

    
}
